---
title: About
style: home
---

<section>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>The dotInceptions Story</h2>
        <br/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p>dotInceptions is a modern IT operations consultancy in Houston, Texas.</p>
        <p>We work with clients to build modern service architectures, operations automation, and software delivery pipelines. We also build open source tools for the automation of systems engineering.</p>

        <p>We are excited by the future of cloud infrastructure and systems automation and that drives our mission to help implement strategic and tactical initiatives of startups, early stage growth and SMB companies.
        <p>dotInceptions is owned and operated by <a href="http://linkedin.com/in/adamescamilla">Adam Escamilla</a>.</p>

        <br/>
      </div>
    </div>
  </div>
</section>


<section class="bg-blue">
  <div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <form action="http://dotinceptions.us14.list-manage.com/subscribe?u=2207ae12d9cbca7002ad967f1&id=e541158c89"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
        <h3>Sound exciting? Sign up for announcements!</h3>
        <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" size="32" required>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-info bg-gray">
      </form>
      <br />
    </div>
  </div>
  </div>
</section>
