---
title: Services
style: home
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <i class="fa fa-rocket pull-left" style="font-size: 128px;"></i>
        <h1>Modern Approach</h1>

        Using modern technologies, we provide innovative solutions to build automated
        workflows, express infrastructure as code, and proper CI pipelines.
      </div>

    </div>
    <br /><br />
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <i class="fa fa-cogs pull-right" style="font-size: 128px;"></i>
        <h1>Infrastructure Automation</h1>
        Today operations require modern infrastructure automation. We use some of the simplest
        tools designed specifically to manage any architecture, while still giving you flexibilty
        and full operational control.
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <i class="fa fa-ship pull-left" style="font-size: 128px;"></i>
        <h1>Software Delivery Pipelines</h1>
        We help you deliver your simple or complex application, but everyone's workflow
        and requirements are different. We'll help you deploy in the ideal way.
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <i class="fa fa-desktop pull-right" style="font-size: 128px;"></i>
        <h1>Monitoring Solutions</h1>
        Need more from monitoring that what public SaaS offers? We can help you
        get all the monitoring metrics for your application for any language and
        environment.
        <br/>
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <i class="fa fa-code pull-left" style="font-size: 128px;"></i>
        <h1>Custom Integrations</h1>
        If you have features
        that are missing in a tool, let us extend it for you. If you have a
        tool to build that you just want someone else to write we do that too.
        <br/>
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <i class="fa fa-graduation-cap pull-right" style="font-size: 128px;"></i>
        <h1>Knowledge Sharing</h1>
        We also provide knowledge dumps on industry proven technologies, bring us on-site
        for training on things like Docker basics or building and running a cloud platform
        container-based application.
        <br/>
      </div>
    </div>
  </div>
</section>

<section class="bg-blue">
  <div class="row text-center">
    <div class="col-md-12">
        <h3>Do you think we can help you? </h3>
        <a class="btn btn-lg btn-info bg-gray" href="mailto:team+hire@dotinceptions.com">Hire Us</a>
    </div>
  </div>
</section>
